import axios, { AxiosInstance } from 'axios';

export function useApiClient() {
  let apiClient: AxiosInstance = createDefaultApiClient();

  function createDefaultApiClient(): AxiosInstance { 
    return axios.create({
      baseURL: "BASE_URL",
      headers: {
        'Content-Type': 'application/json',
      },
    });
  }

  function setApiClient(newApiClient: AxiosInstance) {
    apiClient = newApiClient;
  }

  return {
    apiClient,
    setApiClient
  }
}
