import axios from 'axios';

export function useApiClient() {
  let instance = createDefaultApiClient();

  function createDefaultApiClient() { 
    return axios.create({
      baseURL: "BASE_URL",
      headers: {
        'Content-Type': 'application/json',
      },
    });
  }

  return instance;
}
