import axios from 'axios';

export const apiClient = createDefaultApiClient();

function createDefaultApiClient() { 
  return axios.create({
    baseURL: "BASE_URL",
    headers: {
      'Content-Type': 'application/json',
    },
  });
}
